* {
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}

body {
    background-color: #2b2f32;
}
.error {
    text-align: center;
    color: red;
}

.fotoError {
    padding-top: 25px;
    height: 250px;
}
